<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet"/>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-quality-levels/2.0.9/videojs-contrib-quality-levels.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@1.1.4/dist/videojs-hls-quality-selector.min.js"></script>

</head>
<body>

<video id="video" class="video-js vjs-default-skin" controls preload="auto" width="2000" autoplay="autoplay"
       data-setup='{}'>

</video>

<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function() {

        var player = videojs('video');
        player.ready(function() {
            player.qualityLevels();
            player.hlsQualitySelector({
                displayCurrentQuality : true ,
                getCurrentQuality : 'auto' ,
                sortAscending : true ,
            });
        });

        player.src({
            src: /*[[${videoUrl}]]*/,
            type: 'application/x-mpegURL'
        });

    });

</script>
</body>

<style>
    .video-js .vjs-control-bar {
        font-size: 2em; /* 이 값을 조정하여 컨트롤 바의 아이콘 크기를 변경합니다. */
    }

    .video-js .vjs-control {
        width: 60px; /* 이 값을 조정하여 컨트롤 버튼의 크기를 변경합니다. */
    }

    .vjs-quality-level .vjs-menu-title {
       display: none;
    }

</style>


</html>